.header {
  width: 100vw;
  height: 100vh;
  min-height: 980px;
  background: url("/img/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (max-width: $screen-920) {
    height: auto;
  }
  @media screen and (max-width: $screen-425) {
    min-height: 100vh;
  }
}
